@(nForm: Form[CreateNearbyForm])(detForm: Form[GetDetailsForm])(urlForm: Form[ChangeURLForm])(photoForm: Form[AddPhotoForm])(postCommentForm: Form[PostCommentForm])(voteCommentForm: Form[VoteCommentForm])(addUserForm: Form[AddUserForm])(loginForm: Form[LoginForm])(changeScoreForm: Form[ChangeScoreForm])(implicit messages: Messages)

@import helper._

@main("SceneKap") {
    <ul id="persons"></ul>

    <div align="center">
        <div class="title">
            <b>SceneKap</b>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div align="center">
                <div class="four columns">
                    @form(routes.PlaceController.nearbyBtn()) {
                        @inputText(nForm("Lat"))
                        @inputText(nForm("Long"))

                        <div class="buttons">
                            <input type="submit" value="Nearby"/>
                        </div>
                    }
                    <br>
                </div>

                <div class="four columns">
                    @form(routes.PlaceController.detailsBtn()) {
                        @inputText(detForm("ID"))
                        @inputText(detForm("Keywords"))

                        <div class="buttons">
                            <input type="submit" value="Details"/>
                        </div>
                    }
                    <br>
                </div>

                <div class="four columns">
                    @form(routes.PlaceController.urlBtn()) {
                        @inputText(urlForm("ID"))
                        @inputText(urlForm("Keywords"))
                        @inputText(urlForm("URL"))

                        <div class="buttons">
                            <input type="submit" value="Change Website"/>
                        </div>
                    }
                    <br>
                </div>
            </div>
        </div>

        <div class="row">
            <div align="center">
                <div class="six columns">
                    @form(routes.PlaceController.addCommentBtn()) {
                        @inputText(postCommentForm("ID"))
                        @inputText(postCommentForm("Text"))
                        @inputText(postCommentForm("Username"))

                        <div class="buttons">
                            <input type="submit" value="Add Comment"/>
                        </div>
                    }
                    <br>
                </div>

                <div class="six columns">
                    @form(routes.PlaceController.voteCommentBtn()) {
                        @inputText(voteCommentForm("ID"))
                        @inputText(voteCommentForm("CID"))
                        @inputText(voteCommentForm("VoteVal"))
                        @inputText(voteCommentForm("Username"))

                        <div class="buttons">
                            <input type="submit" value="Vote Comment"/>
                        </div>
                    }
                    <br>
                </div>
            </div>
        </div>

        <div class="row">
            <div align="center">
                <div class="four columns">
                    @form(routes.PlaceController.addPhotoBtn()) {
                        @inputText(postCommentForm("ID"))
                        @inputText(postCommentForm("URL"))
                        @inputText(postCommentForm("Username"))

                        <div class="buttons">
                            <input type="submit" value="Add Photo"/>
                        </div>
                    }
                    <br>
                </div>

                <div class="four columns">
                    @form(routes.PlaceController.votePhotoBtn()) {
                        @inputText(voteCommentForm("ID"))
                        @inputText(voteCommentForm("CID"))
                        @inputText(voteCommentForm("VoteVal"))
                        @inputText(voteCommentForm("Username"))

                        <div class="buttons">
                            <input type="submit" value="Upvote Photo"/>
                        </div>
                    }
                    <br>
                </div>

                <div class="four columns">
                    @form(routes.PlaceController.votePhotoBtn()) {
                        @inputText(voteCommentForm("ID"))
                        @inputText(voteCommentForm("CID"))
                        @inputText(voteCommentForm("VoteVal"))
                        @inputText(voteCommentForm("Username"))

                        <div class="buttons">
                            <input type="submit" value="Downvote Photo"/>
                        </div>
                    }
                    <br>
                </div>
            </div>
        </div>

        <div class="row">
            <div align="center">
                <div class="three columns">
                    @form(routes.UserController.addUserBtn()) {
                        @inputText(addUserForm("Username"))
                        @inputText(addUserForm("Password"))
                        @inputText(addUserForm("Email"))
                        @inputText(addUserForm("DeviceID"))

                        <div class="buttons">
                            <input type="submit" value="Add User"/>
                        </div>
                    }
                    <br>
                </div>

                <div class="three columns">
                    @form(routes.UserController.firstLoginBtn()) {
                        @inputText(loginForm("Username"))
                        @inputText(loginForm("Password"))
                        @inputText(loginForm("DeviceID"))

                        <div class="buttons">
                            <input type="submit" value="First Login"/>
                        </div>
                    }
                    <br>
                </div>

                <div class="three columns">
                    @form(routes.UserController.regLoginBtn()) {
                        @inputText(loginForm("Username"))
                        @inputText(loginForm("Password"))
                        @inputText(loginForm("DeviceID"))

                        <div class="buttons">
                            <input type="submit" value="Regular Login"/>
                        </div>
                    }
                    <br>
                </div>

                <div class="three columns">
                    @form(routes.UserController.changeScoreBtn()) {
                        @inputText(changeScoreForm("Username"))
                        @inputText(changeScoreForm("VoteVal"))

                        <div class="buttons">
                            <input type="submit" value="Change Score"/>
                        </div>
                    }
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div align="center">
        @form(routes.UserController.getCutoffs) {
            <div class="buttons">
                <input type="submit" value="View Cutoffs"/>
            </div>
        }
        <br>
        @form(routes.UserController.getAllUsers) {
            <div class="buttons">
                <input type="submit" value="View Users"/>
            </div>
        }
        @form(routes.PlaceController.getAll) {
            <div class="buttons">
                <input type="submit" value="View Places"/>
            </div>
        }
    </div>
}
