@(nForm: Form[CreateNearbyForm])(detForm: Form[GetDetailsForm])(urlForm: Form[ChangeURLForm])(photoForm: Form[ChangePhotoForm])(postCommentForm: Form[PostCommentForm])(upvoteCommentForm: Form[UpvoteCommentForm])(downvoteCommentForm: Form[DownvoteCommentForm])(implicit messages: Messages)

@import helper._

@main("SceneKap") {
	<ul id="persons"></ul>

    <div align="center">
        <div class="title">
            <b>SceneKap</b>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div align="center">
                <div class="three columns">
                    @form(routes.PlaceController.nearbyBtn()) {
                        @inputText(nForm("Lat"))
                        @inputText(nForm("Long"))

                        <div class="buttons">
                            <input type="submit" value="Nearby"/>
                        </div>
                    }
                    <br>
                </div>

                <div class="three columns">
                    @form(routes.PlaceController.detailsBtn()) {
                        @inputText(detForm("ID"))
                        @inputText(detForm("Name"))

                        <div class="buttons">
                            <input type="submit" value="Details"/>
                        </div>
                    }
                    <br>
                </div>

                <div class="three columns">
                    @form(routes.PlaceController.urlBtn()) {
                        @inputText(urlForm("ID"))
                        @inputText(urlForm("URL"))

                        <div class="buttons">
                            <input type="submit" value="Change Website"/>
                        </div>
                    }
                    <br>
                </div>

                <div class="three columns">
                    @form(routes.PlaceController.photoBtn()) {
                        @inputText(photoForm("ID"))
                        @inputText(photoForm("URL"))

                        <div class="buttons">
                            <input type="submit" value="Change Photo"/>
                        </div>
                    }
                    <br>
                </div>
            </div>
        </div>

        <div class="row">
            <div align="center">
                <div class="four columns">
                    @form(routes.PlaceController.addCommentBtn()) {
                        @inputText(postCommentForm("ID"))
                        @inputText(postCommentForm("Text"))

                        <div class="buttons">
                            <input type="submit" value="Add Comment"/>
                        </div>
                    }
                    <br>
                </div>

                <div class="four columns">
                    @form(routes.PlaceController.upvoteCommentBtn()) {
                        @inputText(upvoteCommentForm("ID"))
                        @inputText(upvoteCommentForm("CID"))

                        <div class="buttons">
                            <input type="submit" value="Upvote"/>
                        </div>
                    }
                    <br>
                </div>

                <div class="four columns">
                    @form(routes.PlaceController.downvoteCommentBtn()) {
                        @inputText(downvoteCommentForm("ID"))
                        @inputText(downvoteCommentForm("CID"))

                        <div class="buttons">
                            <input type="submit" value="Downvote"/>
                        </div>
                    }
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div align="center">
        <br>
        <br>
        @form(routes.PlaceController.getAll()) {
            <div class="buttons">
                <input type="submit" value="View Data"/>
            </div>
        }
    </div>
}
