@(query: Form[CreateNearbyForm])(nearby: String)(implicit messages: Messages)

@import helper._

@main("SceneKap") {
	<ul id="persons"></ul>

    <div align="center">
        <div class="title">
            <b>SceneKap</b>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div align="center">
                @form(routes.NearbyController.nearbyBtn()) {
                    @inputText(query("Latitude"))
                    @inputText(query("Longitude"))

                    <div class="buttons">
                        <input type="submit" value="Go!"/>
                    </div>
                }
            </div>
        </div>
    </div>

    <div align="center">
        @nearby
        <br><br>
    </div>

    <br>
}
